body{
    font-family: 'Open Sans', sans-serif;

}
.header{
    background-color:#FFF8F3;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 200px;
    
   

}
.nav-title{
    color:#181818;
    font-size: 45px;
    font-weight: 800;

}
.text-primary{
    color: #FD6E0A;
}
nav > ul{
    display: flex;
    align-items: center;
   
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: #474747;
}
.btn-primary{

    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    color: #FFFFFF;
    border-color: white;
    font-weight: 700;
    padding: 18px 35px;
   
}
.btn-primary:hover{
    background: white;
    color: #FD6E0A;
    border-color: #FD6E0A;
}
.btn-second{
    background: white;
    font-weight: 700;
    font-size: 20px;
    padding: 18px 35px;
    color: #FD6E0A;
    border-radius: 5px;
    border-color: #FD6E0A;
    
    
}
.btn-second:hover{
    background-color: #FD6E0A;
    color: white;
    border-color: #FD6E0A;
}
.banner{
    padding: 50px 50px 50px 200px;
    display: flex;
    align-items: center;
}

.profile-picture{
    width: 600px;
    height: 500px
}